<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}UCC BWAISE System{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    
    <!-- Link static CSS files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'css/ready.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-datepicker/css/datepicker.css' %}">
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
    
    <!-- FontAwesome for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="wrapper">
        <div class="main-header">
            <div class="logo-header">
                <a href="index.html" class="logo">
                    <link rel="stylesheet" href="https://cdn.datatables.net/">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
            </div>
            {% include "includes/nav.html" %}
        </div>
        {% include "includes/aside.html" %}
        {% block content %}
        <!-- Page content will be injected here -->
        {% endblock %}

        {% include "includes/footer.html" %}
    </div>


    <!-- Link static JS files -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Bootstrap JS -->
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
    
    <!-- Other JS plugins -->
    <script src="{% static 'js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/plugin/chartist/chartist.min.js' %}"></script>
    <script src="{% static 'js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'js/plugin/bootstrap-toggle/bootstrap-toggle.min.js' %}"></script>
    <script src="{% static 'js/plugin/jquery-mapael/jquery.mapael.min.js' %}"></script>
    <script src="{% static 'js/plugin/jquery-mapael/maps/world_countries.min.js' %}"></script>
    <script src="{% static 'js/plugin/chart-circle/circles.min.js' %}"></script>
    <script src="{% static 'js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'js/ready.min.js' %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#datepicker").datepicker({
                format: "yyyy-mm-dd",  // Date format (adjust as needed)
                autoclose: true,
                todayHighlight: true
            });
        });
        document.getElementById("datePickerInput").value = new Date().toISOString().split("T")[0];

    </script>
</body>
</html>